* {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
}
form {
    background: #ddd;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form select {
    -webkit-appearance: none;
    border: 0;
    font-size: 1em;
    line-height: 2.4em;
    padding: 0 1em;
    width: 29%;
    margin-right: 0.5%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
form input {
    border: 0;
    padding: 10px;
    width: 60%;
    margin-right: 0.5%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
form button {
    width: 9%;
    background: rgb(40, 92, 255);
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}
#messages {
    margin-bottom: 40px;
}
.socket-id-wrapper {
    padding: 10px 5px;
    background-color: #285cff;
    color: #FFF;
}
